* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
}

.heading {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 95%;
  height: 39px;
  left: 35px;
  top: 40px;
  font-size: 40px;
  color: #FFFFFF;
}
.loading {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}


.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  top: 100px;
  width: 303px;
  height: 550px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  /* margin; */
  margin-bottom: 30px;
}

img {
  position: absolute;
  width: 299px;
  height: 283px;
  border-radius: 20px 20px 0px 0px;
}

.card-id {
  position: relative;
  width: 255px;
  height: 39px;
  left: 20px;
  top: 310px;


  font-size: 22px;


  color: rgba(255, 255, 255, 0.5);
}

.card-title {
  position: relative;
  width: 265px;
  height: 39px;
  left: 20px;
  top: 330px;

  color: rgba(255, 255, 255, 0.5);
}

.card-Body {
  position: relative;
  width: 255px;
  height: 39px;
  left: 20px;
  top: 340px;

  color: rgba(255, 255, 255, 0.5);

}